<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>Sign-Up-Page</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
           <div class="left">
            <img src="#" alt="" class="logo">
            <h3><span class="s1">To</span>
                <span class="s2">~</span>
                <span class="s3">Do</span>
                <span class="s4">~</span>
                <span class="s5">List</span>
                <span class="s6">~</span>
                <span class="s7">App</span>
            </h3>
           </div>
            <ul>
               <li> <a href="{% url 'login'%}">Login</a></li>
            </ul>
        </nav>
    </div>

    <div class="body">
        <h1>Sign Up  to Our Website User Dashboard</h1>
        <!-- Connecting the message functionality from Django -->
        <h2>Signup</h2><br>
        {% if messages %}
          {% for message in messages %}
            <h2 style="color: #b22222;">{{message}}</h2>
          {% endfor %}
        {% endif %}
        <form class="signup" action="#" method="POST" >
            {% csrf_token %}
           <div class="form-content">
            <div class="lebels">
                <label for="">User-Name:
                    <input type="text" placeholder="Please input your email-address" required name="username">
                </label><br>
             
                <label for="">User-Email:
                    <input type="email" placeholder="Please input your email-address" required name="email">
                </label><br>
                <label for="">User-Password:
                    <input type="password" placeholder="Please input your email-address" required name="password">
                </label><br>
              
                <!-- <label for="">Confirm the password:
                    <input type="password" placeholder="Please input your password" required>
                </label><br> -->
                <button class="submit" type="submit" value="signup">Submit</button>
            </div>
            <p>Already have an account <br><strong> <a href="{% url 'login'%}">Login</a> </strong></p>
           </div>
           <div class="text">
            <h3>Forgot Password? <a href="#">Reset</a></h3>
          </div>
          {% load socialaccount %}

          <a href="{% provider_login_url 'google' %}">Sign in with Google</a>
          
        </form>
    </div>
</body>
</html>