<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>To_Home_Page</title>
</head>
<body>
    <div class="container">
        {% csrf_token %}
        <nav class="navbar">
           <div class="left">
            <img src="#" alt="" class="logo">
            <h3><span class="s1">To</span>
                <span class="s2">~</span>
                <span class="s3">Do</span>
                <span class="s4">~</span>
                <span class="s5">List</span>
                <span class="s6">~</span>
                <span class="s7">App</span>
            </h3>

           </div>
            <ul>
               <li> <a href="{% url 'register' %}">Sign Up</a></li>
               <li><a href="{% url 'login' %}">login</a></li>
            </ul>
        </nav>
    </div>
    <ul class="middle">
        <li><a href="{%url 'current'%}">Current</li>
        <li><a href="{%url 'completed'%}">Completed</a></li>
        <li><a href="{%url 'create'%}">Create</a></li>
    </ul>

    <div class="body">
        <h1>Simple To Do App</h1>
        <button class="btn"><a href="{%url 'register'%}">Start</a></button>
    </div>
</body>
</html>